.tictactoe-box-background {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: static;
    height: 100%;
    width: 100%;
    background: transparent;
}
.tictactoe-box {
    height: 550px;
    width: 550px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid white;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tictactoe-tile {
    width: auto;
    height: auto;
    border: 1px solid white;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tictactoe-tile svg {
    color: white;
    font-size: 90px;
}

.tictactoe-tile.highlight {
    background-color: rgba(128, 128, 128, 0.75) !important;
}
.tictactoe-tile.highlight svg {
    color: var(--green-3)
}

.tictactoe-tile.tile-pointer {
    cursor: pointer;
}
.tictactoe-tile.tile-pointer:hover {
    background-color: black;
}

.tictactoe-tile:nth-child(3n) { border-right: none; }
.tictactoe-tile:nth-child(3n - 2) { border-left: none; }
.tictactoe-tile:nth-child(-n + 3) { border-top: none; }
.tictactoe-tile:nth-last-child(-n + 3) { border-bottom: none; }

@media (max-width: 600px) {
    .tictactoe-box {
        width: 325px;
        height: 325px;
    }
    .tictactoe-tile svg {
        font-size: 55px;
    }
}

.result-tab {
    width: 280px;
    height: 30px;
    padding: 0px 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.result-tab button {
    width: 22px;
    height: 18px;
    cursor: pointer;
    color: var(--orange-1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}